SERVER_PORT=
NODE_ENV=
API_KEY=

DB_NAME=
DB_USER=
DB_HOST=
DB_PASSWORD=
DB_PORT=

AUTH_API_URL=
AUTH_API_KEY=

SENDGRID_API_KEY=

AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_API_URL=

MICROSERVICE_SOCKET_URL=

# Added for public release
MAIL_SENDER=your_sender_email@example.com